/*Resource Management Dashboard CSS File*/

html
{
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* HTML CSS */
body
{
	/* height: 100%; */
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	background-attachment: fixed;
    background-repeat: repeat;
    /*background-image: url(../images/background.png);*/
    background: -webkit-linear-gradient(/* #bdc3c7 */ #2980b9 10%, #ecf0f1 14%, #ecf0f1 76%);
	background: -o-linear-gradient(/* #bdc3c7 */ #2980b9 10%, #ecf0f1 14%, #ecf0f1 76%);
	background: -moz-linear-gradient(/* #bdc3c7 */ #2980b9 10%, #ecf0f1 14%,  #ecf0f1 76%);
	background: linear-gradient(/* #bdc3c7 */ #2980b9 10%, #ecf0f1 14%, #ecf0f1 76%);
    /* background-color: #ecf0f1;#8e8e8e; */
    color: #000000;
    
    font-family: "Calibri";
    font-size: 1em;
    /*text-shadow: 1px 1px 3px #000000;*/
    /* -webkit-text-stroke-width: 0.1px;
   	-webkit-text-stroke-color: black; */
}

li{
	list-style-type: none;
	/*margin-right: 8em;*/	
	display: inline;
}

/* hr
{
	border: 0;
	height: 15px;
	background: url(../images/HorizontalRule.png) scroll center;
	display: none;
} */

select
{
	height:20px;
	overflow-y:scroll;
}

h1
{
}

h2
{
}

a.navLinks:link
{
	color: #2980b9;
	font-size:1.7em ;
}

a.navLinks:visited
{
	color: #4500ad; /* was #fff726 */
	/* font-size:1.3em; */
}

a.navLinks:hover
{
    color: orange;
    text-decoration: none;
    /* font-size: 1.7em; */
}

a.navLinks:active
{
	color: red;
	text-decoration: none;
	/* font-size: 1.7em */
}

font
{
}


table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE"; 
    border-collapse: collapse;
    border: 0px 0px 0px 0px;
}

table
{
	/*background-color:#ededed;
    border-width: 3.5px;
    border-style: outset;
    border-color: #bdbdbd #909090;*/
    margin: 0;
    /* padding: 0; */
    width: 100%;
    border-collapse: collapse;
    border: 0px 0px 0px 0px;
}

table.sortable tbody tr:nth-child(even) td
{
	text-align: center;
    color: #000000;
    border: 0px 0px 0px 0px;
    font-size:1em;
    border-collapse: collapse;
    background-color:#b9b9b9;
    text-shadow: none;
    padding:0.2cm 0.2cm;
}

table.sortable tbody tr:nth-child(odd) td
{
	text-align: center;
    color: #000000;
    border: 0px 0px 0px 0px;
    font-size:1em;
    border-collapse: collapse;
    background-color:#ededed;
    text-shadow: none;
    padding:0.2cm 0.2cm;
}

tr:nth-child(even)
{
	text-align: center;
    color: #000000;
    border: 0px 0px 0px 0px;
    font-size:1em;
    border-collapse: collapse;
    background-color:#b9b9b9;
    text-shadow: none;
    padding:0.2cm 0.2cm;
}

tr:nth-child(odd)
{
	text-align: center;
    color: #000000;
    border: 0px 0px 0px 0px;
    font-size:1em;
    border-collapse: collapse;
    background-color:#ededed;
    text-shadow: none;
    padding:0.2cm 0.2cm;
}

th
{
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
    background-color: #256d9d /* #213b74 */ /* #3498db */ /* #18336e */;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 3px;
    border-collapse: collapse;
    border-style: ridge;
    border-color: #646464;
    padding:0.2cm 0.2cm;
}

th.footer
{
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
    background-color: #256d9d /* #213b74 */ /* #3498db */ /* #18336e */;
    border-top-width: 3px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-collapse: collapse;
    border-style: ridge;
    border-color: #646464;
    padding:0.2cm 0.2cm;
}

td
{
	text-align: center;
	border: 0px 0px 0px 0px;
	border-collapse: collapse;
	/*border-width: 3.5px;
    border-style: outset;
    border-color: #bdbdbd #909090;*/
    padding:0.2cm 0.2cm;
}

form
{
	/* text-align: center; */
    font-family: "Calibri";
    font-size: 1em;
}

input[type=text]
{
	text-align: center;
	font-family: "Calibri";
    font-size: 1em;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ababab;
}

input[type=date]
{
	border-radius: 5px;
	text-align:center;
	font-family: "Calibri";
	font-size:1em;
	border-width: 1px;
	border-style: solid;
	border-color: #ababab;
}

input[type=button]
{
	font-weight: bold;
	/* border-color: #445f68; */
	border-radius: 5px;
	outline: none;
}

input:hover[type=button]
{
	font-weight: bold;
	border-color: #5d5d5d;
	border-radius: 5px;
	outline: none;
}

input[type=submit]
{
	font-weight: bold;
	color: #000000;
	/* border-color: #445f68; */
	border-radius: 5px;
	outline: none;
}

input:hover[type=submit]
{
	font-weight: bold;
	color: #000000;
	border-color: #5d5d5d;
	border-radius: 5px;
	outline: none;
}

input[type=reset]
{
	font-weight: bold;
	color: #000000;
	/* border-color: #445f68; */
	border-radius: 5px;
	outline: none;
}

input:hover[type=reset]
{
	font-weight: bold;
	color: #000000;
	border-color: #5d5d5d;
	border-radius: 5px;
	outline: none;
}

select
{
	width: auto;
	height: auto;
	font-family: "Calibri";
	font-size: 16px;
	border-radius: 5px;
}

option
{
	text-align: center;
    font-family: "Calibri";
    font-size: 1em;
}

/*CSS Classes and IDs*/

#title
{
	padding-top: 0.3em;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0.7em;
	font-size: 2.5em;
	font-weight: bold;
	color: #ffffff;
}

#bgOne
{
	background: -webkit-linear-gradient(left, #bdc3c7 10%, #95a5a6 90%);
	background: -o-linear-gradient(left, #bdc3c7 10%, #95a5a6 90%);
	background: -moz-linear-gradient(left, #bdc3c7 10%,  #95a5a6 90%);
	background: linear-gradient(to left, #bdc3c7 10%, #95a5a6 90%);
	/* background-color: #95a5a6; */
	height: 30%;
	z-index: -1000;
}

/* For dropdowns */

/* .dropdown
{
	overflow-y: scroll;
} */

/* .selectStyle
{
	padding: 5px 6px;
	width: 120px;
	font-family: "Calibri";
	font-size: 16px;
}

.selectStyle select
{
	width: auto;
	height: 50%;
	font-family: "Calibri";
	font-size: 16px;
	overflow-y: scroll;
	border-radius: 5px;
}

.selectStyle select:focus
{
	
} */

#searchBox
{
	/* position: relative;
	top: -5px;
	left: 400px; */
	display: inline-block;
}

#filterSelect
{
	display: inline-block;
}

.pagingItem
{
	
}

.pagingItemCurrent
{
	
}

.center
{
    text-align: center;
}

.centerContent
{
	align-content: space-around;
	text-align: center;
	margin: auto;
	width: 60%;
}

.centerElement
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.optionElements
{
	padding-left: 10px;
}

.summaryEmp
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.bgtextbox
{
    background-color: #d1d1d1;
}

.heading {
	font-size: 1.3em;
	color: white;
	font: bold;
	/*background-color: orange;*/
	border: thick;
}

.floaterButEmp
{
	/* padding-left: 50px; */
	position: relative;
	top: 10px;
	left: 10px; /*was 430px*/
}

.floaterButAlloc
{
	/* padding-left: 50px; */
	position: relative;
	top: 10px;
	left: 10px; /*was 345px*/
}

.floaterButProj
{
	/* padding-left: 50px; */
	position: relative;
	top: 10px;
	left: 10px; /*was 260px*/
}

.floatReportBut
{
	position: relative;
	top: 10px;
	left: 10px;
}

.floaterButQuery
{
	position: static;
/* 	top: 0px; */
/* 	left: 430px; */
}

.floatNavEmp
{
/* 	background-position: top;
	padding-top: 50px; */
	text-align: center;
}

.floatNavProj
{
	text-align: center;
}

.floatNavAlloc
{
	text-align: center;
}

table.sortable thead {
    cursor: pointer;
}

th.sorttable_nosort{
    cursor: default;
}