/* Resource Management Dashboard Image Classes*/

/* View Database Tables Buttons */

img.genReportlink:link
{
	content: url(../images/genReport.png);
}

img.genReportlink:hover
{
	content: url(../images/genReportHover.png);
}

img.genReportlink:active
{
	content: url(../images/genReportPush.png);
}

img.viewAlloclink:link
{
	content: url(../images/viewAlloc.png);
}

img.viewAlloclink:hover
{
	content: url(../images/viewAllocHover.png);
}

img.viewAlloclink:active
{
	content: url(../images/viewAllocPush.png);
}

img.viewEmplink:link
{
	content: url(../images/viewEmp.png);
}

img.viewEmplink:hover
{
	content: url(../images/viewEmpHover.png);
}

img.viewEmplink:active
{
	content: url(../images/viewEmpPush.png);
}

img.viewProjlink:link
{
	content: url(../images/viewProj.png);
}

img.viewProjlink:hover
{
	content: url(../images/viewProjHover.png);
}

img.viewProjlink:active
{
	content: url(../images/viewProjPush.png);
}

/* Delete and Edit Buttons */

img.dellink:link
{
	content: url(../images/delBut.png);
	/*height: 37.5px;
	width: 75px;*/
}

img.dellink:hover
{
	content: url(../images/delButHover.png);
}

img.dellink:active
{
	content: url(../images/delButPush.png);
}

img.editlink:link
{
	content: url(../images/editBut.png);
}

img.editlink:hover
{
	content: url(../images/editButHover.png);
}

img.editlink:active
{
	content: url(../images/editButPush.png);
}

/* Add Buttons */

img.addEmplink:link
{
	content: url(../images/addEmp.png);
}

img.addEmplink:hover
{
	content: url(../images/addEmpHover.png);
}

img.addEmplink:active
{
	content: url(../images/addEmpPush.png);
}

img.addProjlink:link
{
	content: url(../images/addProjEmp.png);
}

img.addProjlink:hover
{
	content: url(../images/addProjHover.png);
}

img.addProjlink:active
{
	content: url(../images/addProjPush.png);
}

img.addAlloclink:link
{
	content: url(../images/addAlloc.png);
}

img.addAlloclink:hover
{
	content: url(../images/addAllocHover.png);
}

img.addAlloclink:active
{
	content: url(../images/addAllocPush.png);
}

/* Old Category Buttons */

/* 
img.empIcon:link
{
	content: url(../images/empBut.png);
}

img.empIcon:hover
{
	content: url(../images/empButHover.png);
}

img.empIcon:active
{
	content: url(../images/empButPush.png);
}

img.projIcon:link
{
	content: url(../images/projBut.png);
}

img.projIcon:hover
{
	content: url(../images/projButHover.png);
}

img.projIcon:active
{
	content: url(../images/projButPush.png);
}

img.allocIcon:link
{
	content: url(../images/allocBut.png);
}

img.allocIcon:hover
{
	content: url(../images/allocButHover.png);
}

img.allocIcon:active
{
	content: url(../images/allocButPush.png);
} */